<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Web</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>商品一覧</h1>
<table class="bordered-table">
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>値段</th>
  </tr>
  <tr th:each="product : ${products}">
<!--    <td th:text="${product.id}"></td>-->
    <td>
      <a th:href="@{'/products/' + ${product.id}}">
          <span th:text="${product.id}"></span>
      </a>
    </td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
  </tr>
  </table>
<form action="/insertProduct" method="Get">
    <p><button type="submit">追加画面へ</button></p>
</form>

</body>
</html>